.jumbotron{
  position: relative;
  z-index:-101;
}

#video-background { 
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}

.image1 {
    background-image: url("/images/black-face-hill.jpeg");
    opacity: 0.8;
}

.image2 {
    background-image: url("/images/herd.jpg");
    opacity: 0.8;

}

.image3 {
    background-image: url("/images/heather.jpg");
    opacity: 0.8;
}